body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.logo {
    animation: spin 10s linear infinite, changeColor 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.logo img {
    width: 200px; /* Измените размер на свой выбор */
}

/* Добавьте другие стили для вашей страницы по желанию */
